<div class="list-results-container">
    {{#each albums}}
        <div class="block-info-container">
            <div class="img-block-container">
                <img src="{{this.images.[0].url}}" alt="">
            </div>
            <p>{{this.name}}</p>
            <p class = "button">
                <a href="/tracks/{{this.id}}">
                    View tracks
                </a>
            </p>
        </div>
    {{/each}}
</div>